/* fonts */

@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url('../fonts/SourceSansPro-Regular.otf.woff2') format('woff2');
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url('../fonts/SourceSansPro-Bold.otf.woff2') format('woff2');
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-display: swap;
    font-weight: 900;
    src: url('../fonts/SourceSansPro-Black.otf.woff2') format('woff2');
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src: url('../fonts/SourceSansPro-Semibold.otf.woff2') format('woff2');
}
@font-face {
    font-family: "IBM Plex Mono";
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url('../fonts/IBMPlexMono-Medium.otf') format('opentype');
}
@font-face {
    font-family: "IBM Plex Mono";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url('../fonts/IBMPlexMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Source Serif Pro";
    font-style: italic;
    font-display: swap;
    font-weight: 400;
    src: url('../fonts/SourceSerifPro-It.otf.woff2') format('woff2');
}
@font-face {
    font-family: "Source Serif Pro";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url('../fonts/SourceSerifPro-Regular.otf.woff2') format('woff2');
}

:root {
    /* New Color Scheme */
    /* CSS HSL */
    --engineering-orange: hsla(358, 94%, 41%, 1);
    --dark-purple: hsla(323, 63%, 12%, 1);
    --french-gray: hsla(207, 14%, 72%, 1);
    --air-force-blue: hsla(196, 17%, 50%, 1);
    --space-cadet: hsla(235, 24%, 19%, 1);
    
    /* Colors */
    --american-purple: #441c55;
    --maximum-purple:  #743282;
    --pearly-purple: #b668a1;
    --kobi: #e2a4c6; /*Kobe!*/
    --golden-yellow: #ffdf00;
    --harvest-gold: #dc9200;
    /* Second Color Scheme */
    --ksu-purple:  #522888;
    --purple-heart:  #66369d;
    --lavender-purple:  #967bb6;
    --languid-lavender: #cdc7d9;
    --aztec-gold:  #bf9553;
    --uoc-gold: #b97f24;

    /* Semantic Colors */
    --main-color: var(--air-force-blue);
    --accent-color: var(--engineering-orange);
    --subtle-color: var(--french-gray);
    --link-color: hsla(358, 75%, 41%, 1);
}

/* Better Defaults */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
}
a {
    text-decoration: none;
    color: var(--link-color);
    position: relative;
}
a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--link-color);
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.5s ease;
}
a:hover::before {
    transform: scaleX(1);
  }
img {
    max-width: 100%;
}
h2, h3 {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    margin-bottom: 0.5em;
    font-size: 1.2em;
    text-align: center;
    font-family: "IBM Plex Mono", monospace;
}
h3 {
    font-size: 1em;
    text-transform: none;
}
p {
    margin-bottom: 0.5em;
}

section {
    /* hack for making jump links work without altering html */
    border-top: 5em solid transparent;
    margin-top: -5em;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    min-height: calc(100vh + 6em);
}
section:last-child {
    min-height: 100vh;
}

/* page */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
    z-index: 1;
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0;
    box-shadow: 0 .01em 0 0 #e1e1e1,0 .2em .4em 0 rgba(0,0,0,.05);
}

nav a {
    margin-left: 0.5em;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 0.05em;
    font-weight: 600;
    cursor: pointer;
}
a:hover, a:active {
    color: var(--link-color);
}

.hero {
    background-color: var(--main-color);
    color: white;
    padding: 5em 2em 2.22em 2em;
    border-bottom: 4px solid var(--subtle-color);
}
.hero p, .hero h1 {
    font-weight: 700;
    font-size: 1.25em;
    margin-bottom: 0.5em;
    text-align: center;
}
.hero p {
    font-weight: 400;
}
.headshot {
    border-radius: 50%;
    width: 225px;
    text-align: center;
}
.headshot__container {
    text-align: center;
    margin-bottom: 1.5em;
    margin-top: 1.75em;
}
.r {
    font-weight: 700;
    color: var(--french-gray);
    text-shadow: 1px 1px 1px var(--space-cadet);
    
}

header .r {
    font-size: 2em;
}
.skills {
    padding: 3em 2em 3em 2em;
    text-align: center;
}
.skills p {
    font-size: 1em;
    margin-bottom: 0.5em;
}

#projects {
    padding: 0em 2em 3em 2em;
}
.projects {
    margin-top: 1em;
}
.project-tile {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
}
.project-img {
    border: 1px solid var(--main-color);
    transition: border-color 0.7s ease;
}
.project-img:hover {
    border-color: var(--uoc-gold);
}

#projects h3 {
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 600;
    margin: 0.5em 0;
    text-align: left;
    font-family: "Source Sans Pro", sans-serif;
}
.project-skills {
    font-family: "Source Serif Pro", serif;
    font-style: italic;
}
.achievements {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-column-gap: 1em;
    margin-top: 1em;
}
.achievements p:nth-child(odd) {
    justify-self: end;
    text-align: right;
}
.achievements p:nth-child(even) {
    justify-self: start;
    text-align: left;
}
#achievements {
    padding: 0 2em 3em 2em;
}
.hero__accent {
    color: var(--space-cadet);
}
.tech-logo {
    height: 40px;
    margin: 0 0.5em 1.5em 0.5em;
}
.tech-logo.medium {
    height: 30px;
}
.tech-logo.smaller {
    height: 20px;
}
.tech-logo.nuxt {
    margin-bottom: 2em;
}
.tech-logo__container {
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* iPad */
@media(min-width: 768px) {
    .hero {
        display: grid;
        grid-template-columns: 2fr 3fr;
    }
    .hero-text {
        justify-self: center;
        margin: auto;
    }
    .hero p, .hero h1 {
        text-align: left;
        font-size: 2.5vw;
        margin-bottom: 1em;
    }
    .hero h1 {
        margin-top: 1em;
    }
    .headshot {
        width: 20vw;
    }
    .headshot__container {
        margin-top: 2.5em;
    }
    .skills p, .skills h2 {
        margin-bottom: 1em;
    }
    .skills h2 {
        margin-top: 0.5em;
    }
    .skill-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: left;
        grid-column-gap: 1em;
        margin-top: 1em;
        margin-left: auto;
        margin-right: auto;
        max-width: 600px;
        position: relative;
        left: 60px;
    }
}

/* iPad horizontal */
@media(min-width: 1024px) {
    body {
        font-size: 18px;
    }
    .projects {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    nav a {
        margin-left: 2em;
    }
    header {
        padding: 0.5em 1.5em;
    }
    a::before {
        height: 2px;
    }
    .skill-grid {
        display: flex;
        max-width: none;
        left: 0;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media(min-width: 1366px) {
    body {
        font-size: 20px;
    }
}