<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Roberto J. Beltran | Full stack web application developer</title>
	<link rel="icon" type="image/png" href="/favicon.ico"/>
	<link rel="icon" type="image/png" href="https://robertobeltran.me/favicon.ico"/>
	<link rel="stylesheet" href="/css/style.css">
	<meta name="description" content="Roberto Beltran is a remote full stack web application developer">
	<meta property="og:title" content="Roberto J. Beltran | Full stack web application developer" />
	<meta property="og:url" content="https://robertobeltran.me" />
	<meta property="og:description" content="Roberto Beltran is a remote full stack web application developer">
	<meta property="og:type" content="website" />
	<meta property=”og:image” content="https://robertobeltran.me/favicon.png" />
</head>
<body>
	<header>
		<div class="r">R</div>
		<nav>
			<a href="#about">About</a>
			<a href="#projects">Projects</a>
			<a href="#achievements">Achievements</a>
		</nav>
	</header>
	<main>
		<section id="about">
			<div class="hero">
				<div class="headshot__container">
					<img class="headshot" src="/images/roberto_beltran-headshot.jpeg">
				</div>

				<div class="hero-text">
					<h1>
						<span class="hero__accent">Roberto Beltran</span>: <br>full stack web developer
					</h1>
					<p>
						I&rsquo;m a <strong>creative</strong> at heart. I love <strong>open source</strong> and making my ideas come alive from start to finish, using the <strong>latest and greatest tech</strong>.
					</p>
				</div>
			</div>
			<div class="skills">
				<h2>Tools of choice</h2>
				<div class="tech-logo__container">
					<img class="tech-logo" src="/images/Vue.js_Logo_2.svg.png" alt="Vue.js">
					<img class="tech-logo" src="/images/React-icon.svg.png" alt="React">
					<img class="tech-logo medium nuxt" src="/images/nuxt.svg" alt="Nuxt">
					<img class="tech-logo smaller next" src="/images/nextjs.svg" alt="Next.js">
					<img class="tech-logo" src="/images/Gatsby_Logo.png" alt="Gatsby">
				</div>
				<h3>also proficient with</h3>
				<div class="skill-grid">
					<p>HTML/CSS</p>
					<p>Vanilla JavaScript</p>
					<p>CSS Preprocessors (Sass,&nbsp;SCSS,&nbsp;Less)</p>
					<p>Static Site Generators (11ty, Jekyll)</p>
					<p>Cloud Services (Google Cloud, Firebase, Amazon Web Services)</p>
					<p>Linux (Bash,&nbsp;SSH,&nbsp;FTP,&nbsp;Git)</p>
					<p>SEO and Landing Pages</p>
				</div>
			</div>
		</section>
		<section id="projects">
			<h2>Projects</h2>
			<div class="projects">
				{%  include "components/project", 
					project-live-link: "https://www.spanglishtutoring.org/", 
					project-name: "Spanglish Tutoring", 
					project-description: "Website for Spanglish Tutoring, which provides virtual personalized English classes to low-income students ages 7 to 18 years from Peru through the help of college and high school volunteers. Designs and illustrations by Daniela Leon.", 
					project-skills: "Nuxt, Vue, headless CMS", 
					project-image: "/images/spanglishtutoring.png"%}
				{%  include "components/project", project-live-link: "https://libremiami.gitlab.io", project-source-link: "https://gitlab.com/libremiami/libremiami.gitlab.io", project-name: "libremiami.org", project-description: "Website and blog for LibreMiami, an advocacy group for libre and open source software in Miami (Currently Inactive). Based on a wireframe and color scheme by @neshametha.", project-skills: "Gatsby, React, Mobile-first responsive design", project-image: "/images/libremiami.png"%}
				{%  include "components/project", project-live-link: "https://robertobeltran.gitlab.io/rolie-polie-olie/", project-source-link: "https://gitlab.com/robertobeltran/rolie-polie-olie", project-name: "d20 Dice Roller ", project-description: "Roll dice for tabletop role-playing games (RPGs) like Dungeons and Dragons by Wizards of the Coast. Roll d20, d12, d10, d8, d6, and d4 polyhedral dice. ", project-skills: "Vue, Mobile-first responsive design", project-image: "/images/d20diceroller.png" %}
				{%  include "components/project", project-live-link: "https://robertobeltran.gitlab.io/peeps/", project-source-link: "https://gitlab.com/robertobeltran/peeps", project-name: "Peeps", project-description: "A mock social media app to demo React and CSS", project-skills: "React, Mobile-first responsive design", project-image: "/images/peeps.png" %}
			</div>

		</section>
		<section id="achievements">
			<h2>
				Achievements
			</h2>
			<div class="achievements">
				<p>July 2019</p>
				<p><a href="https://libreplanet.org/wiki/Making_money_as_a_libre_software_programmer">LibrePlanet Featured Resource</a></p>
				<p>April 2019</p>
				<p>Founded <a href="https://libremiami.org">LibreMiami</a></p>
				<p>February 2019</p>
				<p><a href="https://www.freecodecamp.org/certification/robertobeltran/javascript-algorithms-and-data-structures" target="_blank">FreeCodeCamp JavaScript Algorithms and Data Structures certification</a></p>
				<p>January 2019</p>
				<p><a href="https://www.freecodecamp.org/certification/robertobeltran/responsive-web-design" target="_blank">FreeCodeCamp Responsive Web Design certification</a></p>
			</div>
		</section>
	</main>
	<footer>
	</footer>
</body>
</html>
