
<div class="project-tile">
    <div class="project-tile-inner">
            <a href="{{project-live-link}}" target="_blank">
                <img class="project-img" src="{{project-image}}">
            </a>
            <div class="project-details">
                <h3 class="project-title-in">
                    <a href="{{project-live-link}}" target="_blank">
                        {{project-name}}
                    </a>
                </h3>
                <p class="allcaps-link">
                    <a href="{{project-live-link}}" target="_blank">
                        View Live
                    </a>
                    {% if project-source-link %}
                     &nbsp;|&nbsp;
                    <a href="{{project-source-link}}" target="_blank">
                        View GitLab
                    </a>
                    {% endif %}
                </p>
                <p>
                    {{project-description}}
                </p>
                <p class="project-skills">{{project-skills}}</p>
            </div>
    </div>
</div>